aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.10
colorama==0.4.4
discord-py-interactions==4.1.0
frozenlist==1.2.0
idna==3.3
multidict==5.2.0
mysql-connector-python==8.0.27
orjson==3.6.7
protobuf==3.19.3
python-decouple==3.5
yarl==1.7.2
